@{
	this.Layout = "_Layout";
	this.ViewBag.Title = "Payers";
}


<div data-ng-app="payersApp" data-ng-controller="PayersController">

	<div data-ng-if="!Contents.CurrentPayerSet && Contents.Loaded" class="jmc-payer-details">
		<div data-ng-repeat="p in Contents.PayerDetails" data-jmc-payer-detail="p" data-selected-payer-id="Contents.PayerId"></div>
	</div>

	<div data-ng-if="Contents.CurrentPayerSet">
		<div data-jmc-payer-edit="Contents.Payer" data-payer-id="Contents.PayerId"></div>
	</div>

</div>