@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	this.ViewBag.Title = "Home Page";
	this.Layout = "_Layout";
}

<h1>this is a test</h1>